/**
 * Global styles
 */
.material-icons.md-36 {
  font-size: 36px;
}

.btn {
  font-size: 50px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 60px;
  font-weight: 200;
}

.nextButton{
  font-size: 50px;
  width: 100%;
}

.container {
  padding: 0;
  width: 100%;
  height: 100vh;
  max-width: none;
  background: #FAFAFA;
}

.hero {
  padding-top: 100px;
  background: white;
}

.hero h2 {
   padding-top: 350px;
   width: 100%;
   height: 500px;
   color: white;
   font-size: 47px;
}

#header {
  position: relative;
  width: 100%;
}

/**
 * Splash Page
 */
#splash-page {
  padding-top: 190px;
}

#splash-page #description {
  font-size: 40px;
  width: 100%;
}

#splash-page h1 {
  padding-bottom: 50px;
  font-size: 81px;
  color: #3F98FE;
}

#splash-page .btn {
  background-color: #3F98FE;
  position: absolute;
  bottom: 0;
  left: 0;
}

#splash-page #tagline {
  color: #3F98FE;
  padding-top: 100px;
  font-size: 47px;
  font-weight: 200;
}

/**
 * Current Position Page
 */
#current-position-page .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #231F20;
}

#current-position-page .btn span {
  padding-right: 10px;
}

#current-position-page .btn i {
  position: absolute;
  top: 36px;
}

#current-position-page .address p {
  font-size: 50px;
  color: black;
}

#current-position-page .address p.subtitle {
  font-size: 35px;
  color: gray;
}

#current-position-page .location i {
  position: absolute;
  left: 40px;
  font-size: 100px;
  color: gray;
}

#current-position-page .location.is-selected i {
  color: #5FAAC7;
}

#current-position-page .location i.checkmark {
  left: inherit;
  right: 20px;
  font-size: 90px;
}

#current-position-page .location {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #CCCCCC;
}

/**
 * Going Page
 */
#going-page .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #231F20;
}

#going-page .btn span {
  padding-right: 10px;
}

#going-page .btn i {
  position: absolute;
  top: 36px;
}

#going-page .address p {
  font-size: 50px;
  color: black;
}

#going-page .address p.subtitle {
  font-size: 35px;
  color: gray;
}

#going-page .location i {
  position: absolute;
  left: 40px;
  font-size: 100px;
  color: gray;
}

#going-page .location.is-selected i {
  color: #5FAAC7;
}

#going-page .location i.checkmark {
  left: inherit;
  right: 20px;
  font-size: 90px;
}

#going-page .location {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #CCCCCC;
}

/**
 * Vehicle Page
 */
#vehicle-page .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #231F20;
}

#vehicle-page .btn span {
  padding-right: 10px;
}

#vehicle-page .btn i {
  position: absolute;
  top: 36px;
}

#vehicle-page .address p {
  font-size: 50px;
  color: black;
}

#vehicle-page .address p.subtitle {
  font-size: 35px;
  color: gray;
}

#vehicle-page .car i {
  position: absolute;
  left: 40px;
  font-size: 100px;
  color: gray;
}

#vehicle-page .car.is-selected i {
  color: #5FAAC7;
}

#vehicle-page .car i.checkmark {
  left: inherit;
  right: 20px;
  font-size: 90px;
}

#vehicle-page .car {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #CCCCCC;
}

#vehicle-page .fab {
    position: absolute;
    bottom: 124px;
    right: 24px;
    border:none;
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

#vehicle-page .fab i {
  font-size: 50px;
  color: white;
  padding-top: 25px;
  padding-left: 25px;
}
